@{
    ViewData["Title"] = "E-posta Onayı";
}

<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <div class="card border-0 shadow-lg">
                <div class="card-body p-5 text-center">
                    <h2 class="card-title mb-4">E-posta Onayı</h2>
                    <div class="d-grid">
                        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">
                            Giriş Sayfasına Dön
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
