@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Account" asp-action="Logout" method="post" asp-antiforgery="true" class="d-inline">
    <button type="submit" class="btn btn-link p-0">Çıkış Yap</button>
</form>